name: 'CNP-Customs-prelim_option'

on:
  workflow_dispatch:
    inputs:
      year:
        description: "Year value"
        required: true
        default: "2025"
      month:
        description: "Month value"
        required: true
        default: "1"

permissions: write-all

env:
  docker_image: ghcr.io/cecndata/ga-sec:latest

jobs:
  Download:
    runs-on: ubuntu-latest
    steps:
    
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Export environment variables
        run: |
          echo "year=${{ github.event.inputs.year }}" >> $GITHUB_ENV
          echo "month=${{ github.event.inputs.month }}" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}
      - name: Get Docker image digest
        id: docker-digest
        run: |
          DIGEST=$(docker manifest inspect ${{ env.docker_image }} --verbose | jq -r '.Descriptor.digest')
          echo "digest=$DIGEST" >> $GITHUB_OUTPUT
      - uses: actions/cache@v3
        id: docker-cache
        with:
          path: /tmp/ga-sec_latest.tar
          key: ga-sec-latest-${{ steps.docker-digest.outputs.digest }}
          restore-keys: |
            ga-sec-latest-
      - if: steps.docker-cache.outputs.cache-hit != 'true'
        run: |
            docker pull ${{ env.docker_image }}
            docker save ${{ env.docker_image }} -o /tmp/ga-sec_latest.tar
      - if: steps.docker-cache.outputs.cache-hit == 'true'
        run: docker load -i /tmp/ga-sec_latest.tar
      - name: Export all GitHub env to Docker env file
        run: |
          env > /tmp/github_env.list

      - name: Install dependencies
        run: |
          mkdir -p ${{ github.workspace }}/feed
          curl -L https://raw.githubusercontent.com/CECNdata/CNP_Feed_Release/main/download_prelim_main_option.py \
               -o ${{ github.workspace }}/feed/download.py
          sudo apt-get install sshpass -y

          
      - name: Run customs download in Docker
        run: |
          docker run --rm \
            --env-file /tmp/github_env.list \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace/feed \
            ${{ env.docker_image }} \
            timeout 1800 xvfb-run python download.py
            
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: gathered-latest-data
          path: "**/*.html"
          retention-days: 7

      - name: Check generated files
        run: |
          pwd
          ls -alh
          tree
          set -e
          cd feed/download
          echo "Files to upload:"
          ls *.html
          
      - name: FTP upload
        continue-on-error: true
        run: |
          sudo chmod -R 777 feed/download ; cd feed/download ; for filename in `ls *.html`;do ( echo "put ${filename} ${{ secrets.Prelim_FTP_PATH }}" |  SSHPASS='${{ secrets.FTP_PASS }}' sshpass -e sftp -P ${{ secrets.FTP_PORT }} -o "HostKeyAlgorithms=+ssh-rsa" -o "StrictHostKeyChecking=no" ${{ secrets.FTP }}  2> >(grep -v "ftp" 1>&2) );done
          
      - name: FTP upload second
        continue-on-error: true
        run: |
          sudo chmod -R 777 feed/download ; cd feed/download ; for filename in `ls -d *.html`;do ( echo "put ${filename} ${{ secrets.Prelim_FTP_PATH }}" |  SSHPASS='${{ secrets.FTP_PASS }}' sshpass -e sftp -P ${{ secrets.FTP_PORT }} -o "HostKeyAlgorithms=+ssh-rsa" -o "StrictHostKeyChecking=no" ${{ secrets.FTP }}  2> >(grep -v "ftp" 1>&2) );done
